@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "خطا";
}

<h1 class="text-danger">خطا!</h1>
<h2 class="text-danger">متاسفانه هنگام پردازش درخواست شما خطایی رخ داد</h2>

