
@{
    ViewBag.Title = "پنل مدیر";
}

<div class="jumbotron">
    <h1>پنل مدیر</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="" class="btn btn-primary btn-lg">راهنما &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>مدیریت کاربران</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="@Url.Action("UserList","Administrative")">ورود به تنظیمات &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>مدیریت نقش‌ها</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="@Url.Action("RoleList","Administrative")">ورود به تنظیمات &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>مدیریت ...</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Administrative")">ورود به تنظیمات &raquo;</a></p>
    </div>
</div>